name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build-ios:
    name: Build iOS App
    runs-on: macos-latest 
    steps:
      - uses: actions/checkout@v3

     
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - run: flutter pub get

      
      # - run: dart run flutter_launcher_icons 

     
      - name: Build iOS App
        run: flutter build ios --release --no-codesign

     
      - name: Create IPA
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload
          zip -r release.ipa Payload

      
      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: my-app-ipa
          path: release.ipa
